doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//code.jquery.com/jquery-3.2.1.min.js')
    script(type='text/javascript', src='/javascripts/canvas.js')
    title= title
  body
    block content
